[user]
	email = noelworden@gmail.com
	name = Noel Worden
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[core]
	editor = vim
[commit]
        template = /Users/noelworden/.customgitmsg.txt
