[user]
	email = noelworden@gmail.com
	name = Noel Worden
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[commit]
	template = /Users/nworden/.customgitmsg.txt
[core]
	editor = vim
