"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "41f87525-6c79-613e-a327-ec7ccbf4a4c0"
  "git-diff":
    showIconsInEditorGutter: true
  "split-diff":
    ignoreWhitespace: true
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
