"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cf3a545c-961d-44d1-878c-8197df99e5c1"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "41f87525-6c79-613e-a327-ec7ccbf4a4c0"
  "git-diff":
    showIconsInEditorGutter: true
  "split-diff":
    ignoreWhitespace: true
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
