// ======================================================================================================
//
// Main: Core styles for splash page
//
// ======================================================================================================

.bkgd--main{
  background-image: image-url('skion--bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bkgd--footer {
  background-color: #857650;
}

.section--info {
  padding-top: 25px;
}

.title-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10%;

  @include breakpoint(sm){
    margin: 0 20%;
  }

  @include breakpoint(md) {
    max-width: 500px;
    margin: 0 auto;
  }

  .title-grid__item {
    margin-bottom: 20px;

    &:nth-of-type(1) { width: 100% }
    &:nth-of-type(2) { flex: 1; }
    &:nth-of-type(3) { flex: 1; }

    @include breakpoint(sm) {
      &:nth-of-type(1) { flex: 1; }
      &:nth-of-type(2) { flex: 1; }
      &:nth-of-type(3) { flex: 1; }
    }
  }
}

.contact-info {
  text-align: center;
}

.skion-logo {
  margin: 15px auto 50px auto;
  max-width: 165px;

  @include breakpoint(sm) {
    max-width: 265px;
    margin: 65px auto 75px auto;
  }

  @include breakpoint(md) {
    max-width: 300px;
    margin: 65px auto 60px auto;
  }
}

.section--copy {
  margin: 0 8%;
  // margin-right: 8%;
  padding-bottom: 55px;

  @include breakpoint(sm) {
    margin: 0 17.5%;
    padding-bottom: 300px
  }

  @include breakpoint(md) {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}

.title {
  color: white;
  // margin-left: 8%;
  // margin-right: 8%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  margin-bottom: 25px;

  @include breakpoint(sm) {
    font-size: 26px;
    line-height: 36px;
  }

  @include breakpoint(md) {
    font-size: 28px;
    line-height: 38px
  }
}

.body {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15em;

  @include breakpoint(sm) {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
  }

  @include breakpoint(md) {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
  }
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0 7%;
  padding: 20px 0;
  // margin
}
