//  ==========================================================================
//
//  More Resources Grid
//
//  ==========================================================================
.resource-grid { margin: 20px 0; }

.resource-grid-hero {
  border-bottom: 5px solid $blue-dark;
  padding: 25px 0 20px;
}

.resource-grid-hero__title { margin-bottom: 3px; }
