//  ======================================================================================================
//
//  Variables
//
//  ======================================================================================================
// bringing in TypeKit font
  // @import url("https://use.typekit.net/tve7dzr.css");

//  Responsive Breakpoints
//  --------------------------------------------------
  $break-xs:           375px  !default;
  $break-sm:           580px  !default;
  $break-md:           768px  !default;
  $break-lg:           1025px !default;
  $break-xl:           1280px !default;
  $break-xxl:          1440px !default;

//  Color
//  --------------------------------------------------
// Neutrals
  $white:              rgb(255,255,255) !default; // #FFFFFF
  $black:              rgb(0,  0,  0  ) !default; // #000000
  $transparent:        rgba(0, 0, 0, 0) !default;

// Custom
  $light-grey:      #DFDFDF !default;
  $medium-grey:     #BABABA !default;
  $dark-grey:       #7F7F7F !default;

//  Default Color Settings
//  --------------------------------------------------
  $body-bg:                 $white      !default;
  $default-txt-color:       $dark-grey  !default;
  $placeholder-txt-color:   $dark-grey  !default;

  $hr-color:                $white          !default;
  $highlight:               $black          !default;
  $highlight-text:          $white          !default;

//  Font Families
//  --------------------------------------------------
  // $font-bold:          Helvetica, Arial, sans-serif !default;
  // $font-regular:       Helvetica, Arial, sans-serif !default;
  // $font-thin:          Helvetica, Arial, sans-serif !default;
  $font-avenir:          'AvenirLTStd-Black';
  // $font-garamond:        'adobe-garamond-pro';
  $font-garamond:        Helvetica, Arial, sans-serif !default;

//  Font Stacks
//  --------------------------------------------------
  // $font-bold:               $font-bold       !default;
  // $font-regular:            $font-regular    !default;
  // $font-italic:             $font-thin       !default;
  // $font-family-default:     $font-regular    !default;

//  Grid Settings
//  --------------------------------------------------
  $grid-width-mobile:      16.667vw             !default;
  $grid-width-tablet:      14.28vw              !default;
  $parallax-perspective:   1px                  !default;

//  Type Sizes (use rem mixin to apply)
//  --------------------------------------------------
  $font-size-root:          63%                !default;
  $font-size-base:          1rem               !default;

//  Defaults
//  --------------------------------------------------
  $font-weight-default:     normal               !default;
  $line-height-base:        1.5                  !default;

//  Headings
//  --------------------------------------------------
  // $headings-font-family:    $font-bold           !default;
  $headings-font-weight:    normal               !default;
  $headings-line-height:    $line-height-base    !default;
  $headings-font-color:     $black               !default;

//  Blockquotes
//  --------------------------------------------------
  // $blockquote-font-family:  $font-family-default !default;
  // $blockquote-txt-size:     $font-size-base      !default;
  // $blockquote-txt-color:    $default-txt-color   !default;

//  Links
//  --------------------------------------------------
//   $link-color:              $black               !default;
//   $link-hover-color:        rgba($black, 0.7)    !default;
//
// //  Forms
// //  --------------------------------------------------
//   $font-family-form:        $font-family-default !default;
//   $font-family-label:       $font-family-default !default;
//
//  Animation
//  --------------------------------------------------
  $default-animation:        all 0.3s             !default;
  $default-animation-duration:   0.3s             !default;
